@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

@font-face {
  font-family: "localFont";
  src: local("localFont"), url("./fonts/tt.woff2") format("woff");
  font-weight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
html,
body {
  background-color: black;
}

.uxui {
  background-color: #635680;
}

.docs {
  background-color: #802654;
}

.strategy {
  background-color: #006b80;
}

.community {
  background-color: #806b00;
}
